<h1>Listing groups</h1>

<table>
  <tr>
  	<td>name</td>
	<td>Descrizione</td>
  </tr>

<% for group in @groups %>
  <tr id="<%= dom_id(group) -%>">
  	<td><%= group.name -%></td>
	<td><%= group.description -%></td>
    <td><%= link_to 'Show', group %></td>
    <td><%= link_to 'Edit', edit_group_path(group) %></td>
    <td><%= link_to_remote 'Destroy', :url => group_path(group), :confirm => 'Are you sure?', :method => :delete %></td>	
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New group', new_group_path %>
