<% title "User" %>

<p>
  <strong>Nickname:</strong>
  <%=h @user.nickname %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @user.description %>
</p>
<p>
  <strong>Last Access:</strong>
  <%=h @user.access ||= "Never logged in" %>
</p>

<h2>Belongs to this groups:</h2>
<%= ul @user.groups.map(&:name) %>

<h2>Has this roles:</h2>

<%= @user.all_roles.map(&:name).join(", ") -%>

<p>
  <%= link_to "Edit", edit_user_path(@user) %> |
  <%= link_to "Destroy", @user, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", users_path %>
</p>
