<% title "Roles" %>

<table>
  <tr>
    <th>Name</th>
    <th>info</th>
  </tr>
  <% for role in @roles %>
    <tr>
      <td><%=h role.name %></td>
      <td><%=h role.info %></td>
      <td><%= link_to "Show", polymorphic_path([@roleable, role]) %></td>
      <td><%= link_to "Edit", edit_polymorphic_path([@roleable, role]) %></td>
      <td><%= link_to "Destroy", polymorphic_path(@roleable, role), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Role", polymorphic_path([@roleable, role]) %></p>
